<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>工作台</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
		<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
	</head>

	<body id="page-top">
		<div id="wrapper">
			<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
				<div class="container-fluid d-flex flex-column p-0">
					<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
						<div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-coins"></i></div>
						<div class="sidebar-brand-text mx-3"><span>Baix3XiaoRuo</span></div>
					</a>
					<hr class="sidebar-divider my-0">
					<ul class="nav navbar-nav text-light" id="accordionSidebar">
						<li class="nav-item" role="presentation"><a class="nav-link active" href="1-1.html"><i
									class="fas fa-table"></i><span>房产信息管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="2-1.html"><i
									class="fas fa-table"></i><span>收费管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="3-1.html"><i
									class="fas fa-table"></i><span>办公管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="4-1.html"><i
									class="fas fa-table"></i><span>文档管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="5-1.html"><i
									class="fas fa-table"></i><span>停车管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="6-1.html"><i
									class="fas fa-table"></i><span>产权人管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="7-1.html"><i
									class="fas fa-table"></i><span>产权人服务</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="8-1.html"><i
									class="fas fa-table"></i><span>保洁管理</span></a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="9-1.html"><i
									class="fas fa-table"></i><span>保安管理</span></a></li>
					</ul>
					<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
							id="sidebarToggle" type="button"></button></div>
				</div>
			</nav>
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					<nav class="navbar navbar-light navbar-expand bg-white shadow mb-5 topbar static-top">

						<div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
								id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
							<form
								class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
								<div class="input-group">
									<div class="input-group-append"></div>
								</div>
							</form>
							<ul class="nav navbar-nav flex-nowrap ml-auto">
								<li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
										data-toggle="dropdown" aria-expanded="false" href="#"><i
											class="fas fa-search"></i></a>
									<div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu"
										aria-labelledby="searchDropdown">
										<form class="form-inline mr-auto navbar-search w-100">
											<div class="input-group"><input class="bg-light form-control border-0 small"
													type="text" placeholder="Search for ...">
												<div class="input-group-append"><button class="btn btn-primary py-0"
														type="button"><i class="fas fa-search"></i></button></div>
											</div>
										</form>
									</div>
								</li>
								<div class="d-none d-sm-block topbar-divider"></div>
								<li class="nav-item dropdown no-arrow" role="presentation">
									<div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
											data-toggle="dropdown" aria-expanded="false" href="#">
											<span class="d-none d-lg-inline mr-2 text-gray-600 small">管理员</span>
											<img class="border rounded-circle img-profile"
												src="assets/img/avatars/avatar1.jpeg"></a>
										<div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
											role="menu">
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" role="presentation" href="hmslogin.html">

												<i
													class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;退出账户</a>

										</div>
									</div>
								</li>
							</ul>
						</div>
					</nav>

					<!-- 结束上边栏 开始处理下端表格部分 -->

					<div class="container-fluid">
						<div class="card shadow">
							<hr>
							<h3 style="color: #224abe;margin: auto;">&nbsp;&nbsp;收费管理</h3>
							<div class="row">
								<div class="col-md-5 text-nowrap"></div>
								<div class="col-md-3 text-nowrap"></div>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="col-md-1 text-nowrap">
									<button class="btn btn-primary" type="button" type="button"
										style="color: #f9f9f9;background-color: #8b8b8b;"
										onClick="location.href='2-1.html'">收费记录</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

									<button class="btn btn-primary" type="button" style="color: white;"
										onClick="location.href='2-2.html'">收费报表</button>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


									<button class="btn btn-primary" style="color: white;"
										onClick="location.href='2-3.html'">统计查询</button>
								</div>

							</div>

							<div class="card-body" id="app">
								<div class="row">
									<!--
										<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
											<label>Show&nbsp;<select
													class="form-control form-control-sm custom-select custom-select-sm">
													<option value="10" selected="">10</option>
													<option value="25">25</option>
													<option value="50">50</option>
													<option value="100">100</option>
												</select>&nbsp;</label>
										</div> 
									</div> -->
									<!-- 每页显示数量部分 暂不实现-->
									<!-- <div class="col-md-6">
										<div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input
													type="search" class="form-control form-control-sm"
													aria-controls="dataTable" placeholder="Search"></label></div>
									 -->
									<!-- 简易搜索 暂不实现 -->


									<div class="col-md- text-nowrap">
									</div>
									<div class="col-md-2 text-nowrap">

										<div id="housingname" class="dataTables_length" aria-controls="dataTable">

											<label style="font-size: 15px;">查询关键字：&nbsp;<select
													class="form-control form-control-sm custom-select custom-select-sm"
													v-model="searchtype">
													<option value="expenseid" selected="">账单号</option>
													<option value="ownerid">产权人号</option>
													<option value="expensetype">费用类型</option>
													<option value="edate">产生时间</option>

												</select>&nbsp;</label>

										</div>
									</div>

									<div class="col-md-2 text-nowrap">
									</div>


									<div class="col-mt-4 text-nowrap">
										<div class="text-md-right dataTables_filter" id="dataTable_filter">
											<label>
												<input type="text" class="form-control form-control-sm"
													aria-controls="dataTable" placeholder="查询依据" v-model="searchcontent"
													v-show="!dateshowcontroll()">
											</label>
										</div>
									</div>

									<div class="col-md-1 text-nowrap" v-show="!dateshowcontroll()">
									</div>

									<input type="date" class="form-control form-control-sm" aria-controls="dataTable"
										style="width: 200px;" v-model="startdate" v-show="dateshowcontroll()">&nbsp;

									<div class="col-md-1 text-nowrap" v-show="!dateshowcontroll()">
									</div>
									<input type="date" class="form-control form-control-sm" aria-controls="dataTable"
										style="width: 200px;" v-model="enddate" v-show="dateshowcontroll()">

									<div class="col-md-2 text-nowrap" v-show="!dateshowcontroll()"></div>
									<div class="col-md-1 text-nowrap" v-show="dateshowcontroll()"></div>


									<div class="col-md-1 text-nowrap">
										<button class="btn btn-primary btn-block text-white btn-user" type="submit"
											@click="expensequery()">查询</button>

									</div>

									<div class="col-md-1 text-nowrap" style="align-items: center;">
										<button class="btn btn-primary btn-block text-white btn-user" type="submit"
											@click="isupdateshow =!isupdateshow">插入</button>

									</div>

								</div>
								<div class="table-responsive table mt-2" id="dataTable" role="grid"
									aria-describedby="dataTable_info">

									<table class="table my-0" id="dataTable">
										<thead>
											<tr>
												<th><strong>序号</strong></th>
												<th><strong>账单号</strong></th>
												<th><strong>产生费用</strong></th>
												<th><strong>应缴费用</strong></th>
												<th><strong>产权人号</strong></th>
												<th><strong>费用类型</strong></th>
												<th><strong>产生时间</strong></th>

											</tr>
										</thead>
										<tbody>
											<tr></tr>

											<tr v-for="(item, index) in list">
												<td>{{index + 1 }}</td>
												<td>{{item.expenseid}}</td>
												<td>{{item.expenseall}}</td>
												<td>{{item.expenseneed}}</td>
												<td>{{item.ownerid}}</td>
												<td>{{item.expensetype}}</td>
												<td>{{dateFormat(item.edate)}}</td>

												<td>
													<button class="btn btn-primary btn-block text-white btn-user"
														type="submit"
														@click="listshow = !listshow;updatejump(item.expenseid);">更新</button>
												</td>
												<td>
													<button class="btn btn-primary btn-block text-white btn-user"
														type="submit" @click="expensedelete(item.expenseid)"
														style="color: #f9f9f9;background-color: #aa1a1a;">删除</button>
												</td>

												<div class="dropdown" v-show="listshow">
													<hr>
													<div class="row">
														<div class="col-md-3 text-nowrap">
															<label style="font-size: 15px;">更改选项:&nbsp;&nbsp;<select
																	class="form-control form-control-sm custom-select custom-select-sm"
																	v-model="changetype">
																	<option value="expenseall" selected="A">产生费用
																	</option>
																	<option value="expenseneed">应缴费用</option>
																	
																	<option value="expencetype">费用类型</option>
																	<option value="edate">产生时间</option>

																</select>&nbsp;</label>
														</div>
														<div class="col-md-3 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<input type="text" class="form-control form-control-sm"
																	aria-controls="dataTable" placeholder="更改的数据"
																	v-model="changedata">&nbsp;&nbsp;
															</div>
														</div>

														<div class="col-md-3 text-nowrap"></div>

														<div class="col-md-2 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<button
																	class="btn btn-primary btn-block text-white btn-user"
																	type="submit"
																	@click="listshow = !listshow&expenseupdate()">提交更新</button>

															</div>
														</div>

														<div class="col-md-1 text-nowrap" style="text-align: right;">
															<div class="dataTables_length" aria-controls="dataTable">
																<button
																	class="btn btn-primary btn-block text-white btn-user"
																	type="submit" @click="listshow = !listshow"
																	style="color: #f9f9f9;background-color: #aa1a1a;">取消</button>
															</div>

														</div>
													</div>
												</div>

												<div class="dropdown" v-show="isupdateshow">
													<hr>
													<div class="row">

														<div class="col-md-1 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<input type="text" class="form-control form-control-sm"
																	aria-controls="dataTable" placeholder="账单号"
																	v-model="insertexpenseid">&nbsp;&nbsp;
															</div>
														</div>


														<div class="col-md-1 text-nowrap">
															<label style="font-size: 15px;"><select
																	class="form-control form-control-sm custom-select custom-select-sm"
																	v-model="changexpense">

																	<option value="0">新增</option>
																	<option value="1">缴费</option>


																</select>&nbsp;</label>

														</div>



														<div class="col-md-1 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<input type="text" class="form-control form-control-sm"
																	aria-controls="dataTable" placeholder="费用"
																	v-model="insertexpense">&nbsp;&nbsp;
															</div>
														</div>

														<div class="col-md-1 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<input type="text" class="form-control form-control-sm"
																	aria-controls="dataTable" placeholder="产权人号"
																	v-model="insertownerid">&nbsp;&nbsp;
															</div>
														</div>

														<div class="col-md-1 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<input type="text" class="form-control form-control-sm"
																	aria-controls="dataTable" placeholder="费用类型"
																	v-model="insertexpensetype">&nbsp;&nbsp;
															</div>
														</div>

														<!-- 	<div class="col-md-1 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<input type="text" class="form-control form-control-sm"
																	aria-controls="dataTable" placeholder="产生时间"
																	v-model="insertedate">&nbsp;&nbsp;
															</div>
														</div> -->

														<input type="date" class="form-control form-control-sm"
															aria-controls="dataTable" style="width: 200px;"
															v-model="insertdate">




														<div class="col-md-2 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<button
																	class="btn btn-primary btn-block text-white btn-user"
																	type="submit"
																	@click="listshow = !listshow&expenseinsert()">提交插入</button>

															</div>
														</div>


														<div class="col-md-1 text-nowrap">
															<div class="dataTables_length" aria-controls="dataTable">
																<button
																	class="btn btn-primary btn-block text-white btn-user"
																	type="submit" @click="isupdateshow = !isupdateshow"
																	style="color: #f9f9f9;background-color: #aa1a1a;">取消</button>
															</div>
														</div>

													</div>
												</div>
											</tr>
								</div>
							</div>

							<tr></tr>
							</tbody>
							<tfoot>
								<tr>
									<th><strong>序号</strong></th>
									<th><strong>账单号</strong></th>
									<th><strong>产生费用</strong></th>
									<th><strong>应缴费用</strong></th>
									<th><strong>产权人号</strong></th>
									<th><strong>费用类型</strong></th>
									<th><strong>产生时间</strong></th>
								</tr>
							</tfoot>
							</table>
						</div>

						<div class="row">
							<div class="col-md-6 align-self-center">
								<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
								</p>
							</div>
							<div class="col-md-6">
								<nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">

									<!-- <ul class="pagination">
												<li class="page-item disabled"><a class="page-link" href="#"
														aria-label="Previous"><span aria-hidden="true">«</span></a></li>
												<li class="page-item active"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#"
														aria-label="Next"><span aria-hidden="true">»</span></a></li>
											</ul> -->
									<!-- 此部分为处理分页跳转 暂不实现-->
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-white sticky-footer">
			<div class="container my-auto">
				<div class="text-center my-auto copyright"><span>Copyright © Baix3XiaoRuo 赵灏 张忆馨 杨斯涵</span>
				</div>
			</div>
		</footer>
		</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
		<script src="assets/js/theme.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/axios.js"></script>
		<script>
			var vue = new Vue({
				el: "#app",
				data: {
					iscorrect: false,
					listshow: false,
					buildingid: "",
					searchtype: "",
					searchcontent: "",
					list: [],
					tmptext: "",
					changetype: "",
					changedata: "",
					isupdateshow: false,
					insertexpenseid: "",
					insertexpenseall: "",
					insertexpensetype: "",
					insertedate: "",
					insertexpenseneed: "",
					insertownerid: "",
					insertdate: "",
					changexpense: "",
					insertexpensename: "",
					insertstatus: "",
					inserttenement: "",
					insertexpense: "",
					deleteid: "",
					startdate: "",
					enddate: "",
				},
				methods: {
					dateshowcontroll: function() {
						if (this.searchtype == "edate") {
							return true;
						} else {
							return false;
						}
					},

					dateFormat: function(time) {
						var date = new Date(time);
						var year = date.getFullYear();
						/* 在日期格式中，月份是从0开始的，因此要加0
						 * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
						 * */
						var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
						var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
						var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
						var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
						var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
						// 拼接
						return year + "-" + month + "-" + day;
					},
					testlog: function() {
						console.log(this.buildingid);
					},
					expenseinsert: function() {



						let param = new URLSearchParams();
						param.append('expenseid', this.insertexpenseid);
						if (this.changexpense == "0") {
							param.append('expenseall', this.insertexpense);
							param.append('expenseneed', this.insertexpense);

						} else {
							param.append('expenseall', "0");
							this.insertexpense = "-" + this.insertexpense;
							param.append('expenseneed', this.insertexpense);

						}
						param.append('ownerid', this.insertownerid);
						param.append('expensetype', this.insertexpensetype);
						param.append('edate', this.insertdate);


						axios({
							headers: {
								'content-type': 'application/x-www-form-urlencoded'
							},
							method: "post",
							url: "http://localhost:8888/simpleweb/Expenseinsertapi",
							data: param
						}).then((res) => {
							console.log(res);
							alert("插入成功");
							location.reload();
						}).catch((error) => {
							console.log(error);
						});

					},
					expenseupdate: function() {
						console.log(this.changetype);
						console.log(this.changedata);
						let param = new URLSearchParams();
						param.append('pointer', this.tmptext);
						param.append('tabletype', "expense");
						param.append('updatetype', this.changetype);
						param.append('updatecontent', this.changedata);
						axios({
							headers: {
								'content-type': 'application/x-www-form-urlencoded'
							},
							method: "post",
							url: "http://localhost:8888/simpleweb/Fullupdateapi",
							data: param
						}).then((res) => {
							console.log(res);
							alert("选中的值已经更改为" + this.changedata);
							location.reload();
						}).catch((error) => {
							console.log(error);
						});


					},
					expensedelete: function(expenseid) {
						console.log(expenseid);
						this.deleteid = expenseid;
						let param = new URLSearchParams();
						param.append('tabletype', "expense");
						param.append('identifier', this.deleteid);
						axios({
							headers: {
								'content-type': 'application/x-www-form-urlencoded'
							},
							method: "post",
							url: "http://localhost:8888/simpleweb/Fulldeleteapi",
							data: param
						}).then((res) => {
							console.log(res.data);
							if (res.data.Res = true) {
								alert("删除成功！");
								location.reload();
							} else {

							}

						}).catch((error) => {
							console.log(error);
						});
					},
					updatejump: function(expenseid) {
						this.tmptext = expenseid;
						console.log(this.tmptext);
					},
					expensequery: function() {
						if (this.searchtype != "edate") {
							let param = new URLSearchParams();
							param.append('tabletype', "expense inner join owner using (ownerid)");
							param.append('querytype', this.searchtype);
							param.append('querycontent', this.searchcontent);
							console.log(this.searchtype);
							console.log(this.searchcontent);
							axios({
								headers: {
									'content-type': 'application/x-www-form-urlencoded'
								},
								method: "post",
								url: "http://localhost:8888/simpleweb/Fullquerynewapi",
								data: param
							}).then((res) => {
								console.log(res.data);
								if (res.data.length > 0) {
									this.list = res.data;
									this.isshow = false;
								} else {
									this.list = [];
									this.isshow = true;
								}

							}).catch((error) => {
								console.log(error);
							});
						} else {
							let param = new URLSearchParams();
							param.append('date1', this.startdate);
							param.append('date2', this.enddate);
							axios({
								headers: {
									'content-type': 'application/x-www-form-urlencoded'
								},
								method: "post",
								url: "http://localhost:8888/simpleweb/Datequeryapi",
								data: param
							}).then((res) => {
								console.log(res.data);
								if (res.data.length > 0) {
									this.list = res.data;
									this.isshow = false;
								} else {
									this.list = [];
									this.isshow = true;
								}

							}).catch((error) => {
								console.log(error);
							});
						}
					},
				}
			});
		</script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	</body>

</html>
